.chart {
  padding: 0.7rem;

  .highcharts-title {
    fill: $tune-color !important;
    font-family: $istokWeb;
    font-size: 2rem !important;
    font-weight: 600;
    margin-top: 1.0rem;
    text-shadow: 2px 2px 4px #1f2e45;
  }

  .highcharts-axis-labels > text {
    font-size: 0.8rem !important;
    font-weight: 600;
  }
}
