.chart {
  padding: 0.7rem;

  .highcharts-title {
    fill: $tune-color !important;
    font-family: $hind;
    font-size: 1.9rem !important;
    font-weight: 600;
    margin-top: 1.0rem;
    text-shadow: 1px 1px 1px #1f2e45;
  }

  .highcharts-axis-labels > text {
    font-size: 0.8rem !important;
    font-weight: 600;
  }
}
