.comments {
  height: 12rem;
  overflow: hidden;

  .group {
    background-color: $comments-background;
  }

  .client-comment {
    color: ghostwhite;
		text-shadow: 2px 2px 2px $tune-color;
    font-family: $hind;
    font-size: 1.8rem;
    font-weight: 600;
    list-style: none;
    text-transform: capitalize;
  }
}

.only > .comments {
  height: 67rem;

  .sub-title {
    font-size: 3.5rem;
  }

  .client-comment {
    font-size: 2.5rem;
  }
}
