.satisfaction {
  height: 26.5rem;

  .group {
    background-color: $satisfaction-background;
  }

  .highcharts-container {
    height: 21.0rem !important;
  }

  .highcharts-data-label > text {
    font-family: $lato;
  }
}
