.satisfaction {
  height: 26.5rem;

  .group {
    background-color: $satisfaction-background;
  }

  .highcharts-container {
    height: 21.0rem !important;
  }

  .highcharts-data-label > text {
    font-family: $lato;
  }
}

.only > .satisfaction {
  height: 67rem;

  .sub-title {
    font-size: 3.5rem;
  }

  .col-6 {
    display: block;
    height: 30rem;
    padding-bottom: 0.3rem;
    width: 100%;
  }

  .highcharts-container {
    height: 30rem !important;
  }

  .highcharts-axis-labels > text {
    font-size: 1.5rem !important;
    font-weight: 600;
  }
}
