.satisfaction {
  .group {
    background-color: $satisfaction-background;
  }

  .highcharts-container {
    height: 25.0rem !important;
  }

  .highcharts-data-label > text {
    fill: $white !important;
    font-weight: 600;
  }
}
