$white: #fff;
$grey-white: #fbfbfb;
$tune-color: #007aff;
$black: black;
$dark-blue: #001d4c;
$wetsand: #707571;
$lakeblue: #4b8492;
$mossgreen: #83958e;
$deep-lakeblue: #42687c;
$cloudy-sky: #8096a6;
$rock: #b9bdbe;
$light-grey: #eee;
$dark-grey: #222;

$subtitle-color: $light-grey;

$back-ground: #f7f4ed;
$title-background: $grey-white;
$datetime-background: #101823;
$datetime-font-color: ghostwhite;
$cover-background: #162030;
$status-background: #283346;
$reply-background: #101823;
$satisfaction-background: #101823;
$comments-background: #162030;
